<header class="px-6 py-4 bg-white border-b border-gray-200 shadow-sm flex justify-between items-center">
  <h1 class="text-2xl font-semibold">Dashboard</h1>
  <div class="relative">
    <div class="flex items-center gap-2 cursor-pointer" (click)="toggleMenu()">
      <span class="text-sm text-gray-600">raul.bolivar{{'@'}}development.com</span>
      <img
        src="assets/images/16283868.png"
        alt="User Avatar"
        class="w-8 h-8 rounded-full border border-gray-300"
      />
    </div>
    @if (showMenu) {
      <div
        class="absolute right-0 mt-2 w-40 bg-white rounded shadow-lg py-2 z-50"
      >
        <button
          (click)="logout()"
          class="block w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-gray-100"
        >
          Cerrar sesión
        </button>
      </div>
    }
  </div>
</header>
